.container-form {
  min-height: 412px;
  max-height: 100%;
  width: 1216px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

.form-content {
  width: 80%;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 25px 3px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 1px 1px 25px 3px rgba(0,0,0,0);
}

form {
  margin: 24px;
}

.field-one-line {
  display:  flex;
  flex-direction: column;
  margin-bottom: 24px;
  flex: 1;
}

.field-two-line {
  display:  flex;
  flex-direction: row;
}

.field-two-line .field-one-line:first-child {
  margin-right: 24px;
}

label {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

input, select {
  border: 1px solid #d1d5d8;
  border-radius: 6px;
  margin-top: 4px;
  height: 38px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 0px 12px;
}

.container-buttons {
  background: #1f2937;
  height: 62px;
  width: 100%;
  display: flex;
  border-radius: 0px 0px  6px 6px;
  justify-content: flex-end;
  align-items: center;
}

.container-buttons button {
  padding: 8px 16px;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 6px;
}

.button-save {
  background: #4F46E5;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}