<!doctype html>
<html  lang="pt-br">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block  content %}
    {% endblock %}
  </body>
</html>